.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: unset !important;
  
  width: 100vw;

  .sign-in {
    background-color: orangered;
    border-radius: 0;
  
    color: white;
  
    &:hover {
      background-color: lighten(orangered, 10%) !important;
      color: white !important;
    }
  }

  .logo {
    cursor: pointer;
    width: 100% !important;
    height: auto !important;
  }
}