$border-radius: 3px;

.card {
  position: relative;
  // background-color: white;

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: $border-radius;

    text-align: center;
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 999;

    background-color: #808080;
    opacity: .5;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    color: white;
    background-color: orange;

    h5 {
      margin: 0;
      padding-right: 10px;
    }

    span {
      font-size: .875em;
    }

    i {
      font-size: larger;
    }

    .card-options {
      cursor: pointer;
    }
  }

  .body {
    border-top: 0px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: 1px solid orange;
    padding: 10px 20px;
    height: 275px;

    .caption {
      color: gray;
      font-size: smaller;
      white-space: nowrap;
    }
  }
}