$border-radius: 3px;

.card {
  width: 400px;
  height: 200px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    color: white;
    background-color: plum;

    h5 {
      margin: 0;
    }
  }

  .body {
    border-top: 0px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    border: 1px solid plum;
    padding: 10px 20px;
  }
}