$green: #41c39f;
$dark-color: darken(#090e44, 2);
$text-color: #bfd6ff;

.card {
  position: relative;
  background-color: #00000028;
  border: 1px solid $green;
  border-radius: 20px;
  color: $text-color;

  h5 {
    color: $text-color;
  }

  padding: 10px;

  input {
    background-color: transparent !important;
    color: $text-color !important;

    &:focus {
      box-shadow: none !important;
    }
  }

  span {
    background-color: transparent;
    color: white;
  }

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    position: absolute;

    width: 100%;
    height: 100%;

    z-index: 999;

    background-color: #808080;
    opacity: 0.5;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    h5 {
      margin: 0;
      padding-right: 10px;
    }

    span {
      font-size: 0.875em;
    }

    i {
      font-size: larger;
    }

    .card-options {
      cursor: pointer;
    }
  }

  .body {
    border-top: 0px;
    padding: 10px 20px;

    .caption {
      color: gray;
      font-size: smaller;
      white-space: nowrap;
    }
  }
}
