$green: #41c39f;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: darken(#090e44, 3);
  color: #bfd6ff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

* {
  box-sizing: border-box;
}

$spinner-size: 150px;
$spinner-font-size: calc($spinner-size / 10);

main {
  position: relative;
}

.loading-container {
  position: absolute;
  z-index: 9999;
  height: 100vh;
  width: 100%;

  .loading {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $spinner-size;
    height: $spinner-size;
    background: transparent;
    text-align: center;
    line-height: $spinner-size;
    font-family: sans-serif;
    font-size: $spinner-font-size;
    color: orange;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px orange;
  }

  .loading:before {
    content: '';
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: orangered #eaf0f6 #eaf0f6;
    border-radius: 100%;
    animation: rotation 2s linear infinite;

    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
